/* Nav.css */

.navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f9fa; /* Light background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
   }
   
   .headerText {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Dark text for contrast */
   }
   
   .TwirlyPig {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
   }
   
   .App-logo {
    width: 100%;
    height: auto;
   }
   
   .normalText {
    font-size: 16px;
    color: #6c757d; /* Light grey text for a subtle effect */
   }
   